body{
    margin:0;
    padding:0;
}

/*Navigation Styles*/

.nav-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    
    font-family: 'Yeseva One', cursive;
    z-index: 999;
}

.name{
    color:#D8977F;
    font-size: 30px;
    text-align: left;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

nav{
    position: relative;
    text-align: right;
    padding: 0;
    margin: 0;
    
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}

nav a {
    color: #D8977F;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
}

nav a:hover{
    color: #014040;
}
/*About Me Hero*/

.about-me-hero{
    display: grid;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "image quote"
    "image quote"
}

.about-me-hero-image{
    grid-area: image;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/hero.jpg");
}

.about-me-hero-text{
    grid-area: quote;
    background-color: #025373;
    color: #D8977F;
    font-family: 'Yeseva One', cursive;
    justify-content: center;
    text-align: center;
    font-size: 54px;
}

/*Paragraph Style*/

p{
    color: #025373;
    font-family: 'Lora', serif;
    font-size: 24px;
    text-align: center;
    margin-top: 70px;
}

/*Picture Collage Styles*/

.collage{
    display: grid;
    margin-top: 90px;
    height: 500px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "photo-one photo-two photo-three photo-four";
}

#photo1{
    grid-area: photo-one;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.33.24 PM.png");
}

#photo2{
    grid-area: photo-two;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.34.19 PM.png");
}

#photo3{
    grid-area: photo-three;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.35.07 PM.png");
}

#photo4{
    grid-area: photo-four;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/garden.png");
}

/*MySkills*/

h1{
    color:#D8977F;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    text-align:center;
    margin-top:70px;
}
.my-skills{
    display: grid;
    margin-top: 50px;
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
    font-family: 'Lora', serif;
    font-size: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "skill-1 skill-2 skill-3"
    "skill-4 skill-5 skill-6"
    "Tools Tools Tools";
}

#skill1{
    grid-area: skill-1;
    color: #025373;
    border: 3px solid #025373;
    text-align: center;
    justify-content:center;
    position:flex;
}

#skill2{
    grid-area: skill-2;
    color: #025373;
    border: 3px solid  #025373;
    text-align: center;
    justify-content:center;
    position:flex;
}

#skill3{
    grid-area: skill-3;
    color: #025373;
    border: 3px solid #025373;
    text-align: center;
    justify-content:center;
    position:flex;
}

#skill4{
    grid-area: skill-4;
    color: #025373;
    border: 3px solid #025373;
    text-align: center;
    justify-content:center;
    position:flex;
}

#skill5{
    grid-area: skill-5;
    color: #025373;
    border: 3px solid #025373;
    text-align: center;
    justify-content:center;
    position:center;
}

#skill6{
    grid-area: skill-6;
    color: #025373;
    border: 3px solid #025373;
    text-align: center;
    justify-content: space-around;
    display:grid;
}

#tools{
    grid-area: Tools;
    color: #025373;
    border: 3px solid #025373;
    text-align: center;
    display:grid;
    margin: 20px;
}

/*Favorite Books*/

h2{
    color:#D8977F;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    text-align:left;
    margin-left: 50px;
    margin-top:40px;
}

.fav-books{
    display: grid;
    margin-top: 50px;
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "book-1 book-2 book-3 book-4";
}

#book1{
    grid-area: book-1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.37.25 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#book2{
    grid-area: book-2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.38.32 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#book3{
    grid-area: book-3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.38.03 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#book4{
    grid-area: book-4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.40.13 PM.png");
    border: 1px solid darkgrey;
    margin: 20px;
}

/*Favorite Music*/

h2{
    color:#D8977F;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    text-align:left;
    margin-left: 50px;
    margin-top:40px;
}

.fav-music{
    display: grid;
    margin-top: 50px;
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "music-1 music-2 music-3 music-4";
}

#music1{
    grid-area: music-1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.44.13 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#music2{
    grid-area: music-2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.44.35 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#music3{
    grid-area: music-3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.45.04 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#music4{
    grid-area: music-4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.46.18 PM.png");
    border: 1px solid darkgrey;
    margin: 20px;
}

/*Favorite Podcasts*/

h2{
    color:#D8977F;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    text-align:left;
    margin-left: 50px;
    margin-top:40px;
}

.fav-podcasts{
    display: grid;
    margin-top: 50px;
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "podcast-1 podcast-2 podcast-3 podcast-4";
}

#podcast1{
    grid-area: podcast-1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.48.46 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#podcast2{
    grid-area: podcast-2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.49.16 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#podcast3{
    grid-area: podcast-3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.49.57 PM.png");
    border: 1px solid darkgrey;
    margin:20px;
}

#podcast4{
    grid-area: podcast-4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Screen Shot 2020-04-05 at 2.51.14 PM.png");
    border: 1px solid darkgrey;
    margin: 20px;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100px;
    border-top: 3px solid #025373;
  }
  
  .footer a {
    padding: 20px 40px;
    font-family: 'Lora', serif;
    text-decoration: none;
    color: #025373;
  }

  .footer a:hover{
      color:#D8977F;
  }